body {
  background-color: #B1D0E0;
}
hr {
  height: 0px;
  background-color: #B1D0E0;
  border-style: none;
  border-top-style: dotted;
  border-width: medium;
  width: 50%

}

h1 { color : #344CB7; }
h3 { color : #344CB7; }
